.layer {
  height: 50px; /* Высота блока */
  width: 150px; /* Ширина блока */
  overflow: scroll; /* Добавляем полосы прокрутки */
  background: #fc0; /* Цвет фона */
  padding: 7px; /* Поля вокруг текста */
  border: 1px solid #333; /* Параметры рамки */
 }