hr {
  border: none;
  height: 1px;
  margin-top: 2px;
  background: rgb(35, 59, 26);
  background-image: -webkit-linear-gradient(left, #fff, rgb(35, 59, 26), #fff);
  background-image: -moz-linear-gradient(left, #fff, rgb(35, 59, 26), #fff);
  background-image: -ms-linear-gradient(left, #fff, rgb(35, 59, 26), #fff);
  background-image: -o-linear-gradient(left, #fff, rgb(35, 59, 26), #fff);
}

.splitpane-resizer {
  height: 5px;
}